* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  anchor-name: --my_anchor;
  overflow: hidden;
  
}



.box {
  height: 100px;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  font-size: 35px;
  padding: 30px;
 
}

.box:hover {
  anchor-name: --my_anchor;
}

.red {
  background-color: rgb(164, 13, 13);
}
.blue {
  background-color: rgb(13, 13, 207);
}

.green {
  background-color: rgb(7, 209, 7);
}

.anchor {
  background-color: #dacbcb;
  border-radius: 20px;
  position: absolute;
  position-anchor: --my_anchor; /* Anchor name define*/
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
  transition: all 0.5s linear;
  pointer-events: none;
  mix-blend-mode: difference;
}
