* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.box {
  height: 200px;
  width: 200px;

  text-align: center;
  font-size: 35px;

  transition: all 0.3s linear;
}

.red {
  background-color: rgb(164, 13, 13);
}
.blue {
  background-color: rgb(13, 13, 207);
}

.green {
  background-color: rgb(7, 209, 7);
}

.box:hover {
  transform: scale(1.2) !important;
  opacity: 1 !important;
}

body:has(.box:hover).box {
  transform: scale(0.8);
  opacity: 0.8;
}
